<div id="body">
    <h1>{{ title }}</h1>
    <p>{{ message }}</p>
    <form [(formGroup)]="myControl" (ngSubmit)="onSubmit()">
        <table>
            <tr>
                <th>Name</th>
                <td><div><input type="text" formControlName="name"></div></td>
            </tr>
            <tr>
                <th>Mail</th>
                <td><div><input type="text" formControlName="mail"></div></td>
            </tr>
            <tr>
                <th>Age</th>
                <td><div><input type="number" formControlName="age"></div></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="click"></td>
            </tr>
        </table>
    </form>
</div> 