<div id="body">
    <h1>{{ title }}</h1>
    <p>{{ message }}</p>
    <p>{{ price * 1.08 }}円</p>
    <p>{{ today() }}</p>
    <p [class]="styleClass">{{ message }}</p>
    <button (click)="doClick()">Click</button>
    <input type="text" #field1 (keyup)="doType(field1.value)" />
    <p *ngIf="visible" (click)="doChange()" class="red">This is TRUE message.</p>
    <p *ngIf="visible == false" (click)="doChange()">This is FALSE message.</p>
    <ul>
        <li *ngFor="let item of data">{{ item }}</li>
    </ul>
    <div [ngSwitch]="switch">
        <p *ngSwitchCase="'one'">First paragraph!</p>
        <p *ngSwitchCase="'two'">Second paragraph!</p>
        <p *ngSwitchCase="'three'">Third paragraph!</p>
        <p *ngSwitchDefault >First paragraph.</p>
    </div>
    <select #sel (change)="doSelect(sel.value)">
        <option>one</option>
        <option>two</option>
        <option>three</option>
    </select>
</div> 